* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

h1 {
    color: white;
    margin-right: 50px;
}

#logo {
    margin-left: 50px;

}

h2 {
    font-size: 2rem;

}

h3 {
    font-size: 16px;
}



.list-group-item {
    margin-top: 10px;
}